/*
Theme Name: themeposse
Description: Theme enfant de Posse33
Author: Aurore et Marie
Theme URI: https://wordpress.com/themes/writr/
Description: Writr is a minimalist, content-oriented tumblelog theme perfect for your personal blog. It comes packed with 6 different color schemes: turquoise (default), blue, green, grey, purple, and red. With a modern look and attention to crisp typography, Writr put the focus on your content.
Version: 1.2.9
Author: Automattic
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: writr
*/

/*
#56ccc5
*/

@font-face {
	font-family: 'BebasNeue-Regular';
	src: url('../../../fonts/Bebas/BebasNeue-Regular.otf');
	src: url('../../../fonts/Bebas/BebasNeue-Regular.woff2') format(‘woff2’),
	url('../../../fonts/Bebas/BebasNeue-Regular.woff') format(‘woff’),
	url('../../../fonts/Bebas/BebasNeue-Regular.ttf') format(‘truetype’)
    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'BebasNeue-Regular', sans-serif !important;
}    
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, thead, tr, th, td 
{
    color:#FFFFFF;
	border: 0;
	font-family: inherit;
	font-size: 40px;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
span, li, ul, ol { /*touche pas*/
    color:#000000;
    font-family: inherit;
	font-size: 20px;
}

li {
    color:#ffffff;
    font-family: inherit;
	font-size: 20px;
}
a {
    color:#000000;
    font-family: inherit;
    font-size: 30px;
}

a:hover {
    color:#000000;
    font-family: inherit;
    font-size: 30px;
    background-color: #56ccc5;
}

p
{
    color:#FFFFFF;
	border: 0;
	font-family: 'Lato', 'sans-serif';
	font-size: 25px;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #56ccc5;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #000000;
	font-family: 'BebasNeue-Regular', sans-serif !important;
	font-size: 16px;
	line-height: 1.5;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0 0 0px;
	color: #000000;
}
.site-branding {
    src: url(../../../img/logo\ 1.png);
}

/* Text elements */
p {
	margin-bottom: 20px;
}
ul,
ol {
	margin: 0 0 20px 0;
}
ul {
	list-style: disc inside;
}
ol {
	list-style: decimal inside;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 20px;
}
address {
	margin: 0 0 20px;
}
pre {
	overflow: auto;
	padding: 20px;
	margin-bottom: 20px;
	max-width: 100%;
	background: #fff;
	font: 15px/1.6 "Courier 10 Pitch", Courier, monospace;
}

/* Links CHANGE RIEN WTF*/
a {
	color: #000000;
}
a:hover,
a:focus,
a:active {
	color: #000000;
}
/**/
.entry-meta .genericon {
	position: absolute;
	top: 5px;
	left: 0;
	width: 12px;
	height: 18px;
	color: #56ccc5;
	font-size: 12px;
	line-height: 1.5;
}

.entry-meta {
	padding: 20px 0 0;
	border-top: 15px double #56ccc5;
	color: #656565;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.entry-format-badge.genericon {
    display: block;
    position: absolute;
    top: 0;
    left: -120px;
    width: 60px;
    height: 60px;
    background: #56ccc5;
    color: #56ccc5;
    font-size: 30px;
    line-height: 2;
    text-align: center;
}

/* =Theme
----------------------------------------------- */

/* Body */
body {
	overflow-x: hidden;
	padding: 40px 0 0;
	width: 100%;
	background: #56ccc5;
	color: #56ccc5;
	-ms-word-wrap: break-word;
	word-wrap:     break-word;
}
body:after {
	left: 0;
	width: 300px;
	background: #FFFFFF; /*NE PAS TOUCHER DU  TOUT DU TOUT*/
}
body:before {
	left: 300px;
	width: 100px;
	background: #56ccc5; /*NE PAS TOUCHER*/
}

#page:before {
	content: '';
	display: block;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 400px;
	width: 540px;
	height: 100%;
	background: #56ccc5;
}

/* Page */
/* Grid */
#page {
	z-index: 1;
	margin: 0;
	width: 1200px;
}	
#page:before {
    width: 800px;
}	


/* Sidebar */
.widget {
	margin: 0 0 0px;

	font-size: 14px;
}

.widget_pages ul li a {
    color: #000000;

}
.sidebar-area {
    position: fixed;
    float: left;
    width: 300px;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
#sidebar-toggle {
	display: none;
	position: absolute;
	z-index: 3;
	top: -40px;
	left: 0;
	height: 40px;
	width: 40px;
	background: #56ccc5;
	color: #000000;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}
#sidebar-toggle:before,
#sidebar-toggle:after {
	content: '';
	display: block;
	position: absolute;
	border-top: 40px solid #FFFFFF;
	border-right: 40px solid transparent;
}

/* Header */

.site-title a {
	display: inline-block;
	color: #000000;
	text-decoration: none;
}
.site-title a:hover {
	color: #000000;
}
.site-description {
	margin: 0 0 20px;
	color: #000000;
	font-size: 12px;
	text-transform: uppercase;
}

/* Primary ----------------------------------------------------------------------------NE PAS TOUCHER !!! */
.content-area {
	float: right;
	width: 800px;
	height: auto;
	padding: 0 40px;
	background: #56ccc5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* =Menu
----------------------------------------------- */
.main-navigation a {
	display: block;
	position: relative;
	padding: 10px 40px;
	text-decoration: none;
	color: #56ccc5  !important;
}
.main-navigation a:hover {
	background: #56ccc5 !important;
}
.main-navigation ul ul {
	display: none;
	opacity: 0;
	z-index: 9998;
	float: left;
	position: absolute;
	top: 0;
	left: 100%;
	width: 300px;
	background: #56ccc5;
}
.main-navigation ul ul li:last-child {
	border-bottom: none;
}
.main-navigation .dropdown > a {
	padding-right: 65px;
}


/* Small menu */
#site-navigation .menu-toggle {
	display: none;
	cursor: pointer;
	background: #56ccc5;
}
.dropdown-icon {
	background: #56ccc5;
}


/* =Social links
----------------------------------------------- */

#social-links {
	margin: -5px 0 20px;
	/*border-bottom: 15px double #56ccc5;*/
	text-align: center;
}
.social-links {
	display: inline-block;
	margin: 0 0 15px;
	list-style: none;
	vertical-align: top;
}
.social-links li {
	display: block;
	float: left;
	margin: 5px;
	padding: 0;
	width: 32px;
	height: 32px;
}
.social-links a {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background: #56ccc5;
	color: #000000;
	text-align: center;
	text-decoration: none;
	line-height: 32px;
}
.social-links a:hover {
	background: #fff;
}


/* =Content
----------------------------------------------- */

/* Entry title */
.entry-title {
	position: relative;
	padding: 15px 40px;
	margin: 0 0 0 -40px;
	width: 100%;
	background: #56ccc5; /*NE PAS CHANGER*/
	color: #FFFFFF;/*NE PAS CHANGER*/
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.entry-title:after {
	content: '';
	z-index: 2;
	display: block;
	position: absolute;
	top: 25px;
	left: -5px;
	border-right: 5px solid #56ccc5;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.entry-title a {
	color: #000000;
	text-decoration: none;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #FFFFFF;
}

/* Page title */
.page-title {
	padding: 15px 40px;
	margin: 0 0 40px -40px;
	width: 100%;
	background: #FFF;
	color: #56ccc5;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

/* =Responsive
----------------------------------------------- */

/* 960px > x */
@media only screen and (max-width: 959px) {

	/* Grid */
	body.sidebar-closed:after {
		width: 40px;
	}
	body.sidebar-closed:before {
		left: 40px;
	}
	.sidebar-closed #page {
		width: 680px;
	}
	.sidebar-closed #page:before {
		left: 140px;
		width: 540px;
	}
	#sidebar-toggle {
		display: block;
	}
	body:not(.sidebar-closed) .sidebar-area:after {
		content: '';
		display: block;
		position: fixed;
		z-index: 9997;
		top: 0;
		left: 300px;
		width: 100%;
		height: 200%;
		background: rgba(0, 0, 0, 0.5);

	}
	.site-header {
		float: right;
		padding-top: 0px;
		margin-top: 0px;
		width: 540px;
    }
    
	.widget-area,
	.site-footer {
		display: none;
	}
	.block {
		display: block;
	}

	/* Header */
	.site-branding {
		border-bottom: none;
	}

	/* Menu */
	#site-navigation .menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	#site-navigation .menu-toggle {
		margin: 0 auto;
		width: 100%;
		height: 60px;
		border-bottom: 5px solid #000000;
		color: #56ccc5;
		font-family: 'BebasNeue-Regular', sans-serif !important;
		font-size: 20px !important;
		line-height: 60px !important;
		text-align: center;
	}
	.main-navigation {
		padding: 0;
		margin: 0;
		width: 540px;
	}
	.main-navigation:after {
		display: none;
	}
	.main-navigation.toggled {
		border-bottom: 5px solid #000000;
	}
	.main-navigation ul {
		display: none;
	}
	.main-navigation a:hover, 
	.main-navigation li.current_page_item > a,
	.main-navigation li.current-menu-item > a {
		background: #56ccc5 !important;		
	}
	.main-navigation ul li:hover ul {
		display: none;
	}
	.main-navigation ul ul {
		display: none;
		opacity: 1;
		z-index: 1;
		float: none;
		position: relative;
		top: auto;
		left: auto;
		width: 540px;
	}
	.main-navigation ul ul a {
		padding-left: 60px;
	}
	.main-navigation ul ul ul a {
		padding-left: 80px;
	}
	.main-navigation .dropdown > a {
		position: relative;
		padding-right: 84px;
	}
	.main-navigation .dropdown > a:after {
		display: none;
	}
	.main-navigation ul li:hover > ul {
	    -webkit-animation: none;
	    -moz-animation:    none;
	    -ms-animation:     none;
	    -o-animation:      none;
	    animation:         none;
	}
	.main-navigation .dropdown-menu {
		padding: 2.5px 0;
		margin: 2.5px 0;
		border-top: 5px solid #000000;
		border-bottom: 5px solid #000000;
	}
	.main-navigation .dropdown-toggle.open + .dropdown-menu {
		display: block;
	}
	.main-navigation li:last-child .dropdown-menu {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 0;
	}
	.dropdown-icon {
		display: block;
		position: absolute;
		top: 2.5px;
		right: 5px;
		height: 39px;
		width: 39px;
		z-index: 2;
	}
	.dropdown-icon:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -2.5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #fff;
	}
	.dropdown-icon.open:after {
		border-top: none;
		border-bottom: 5px solid #fff;
	}

}

/* 768px > x */
@media only screen and (max-width: 767px) {

	/* Theme */
	body {
		background: #fff !important;
	}
	body:before {
		display: none;
	}
	.sidebar-closed .site-header {
		margin-right: 0;
		width: 100%;
	}
	.site-header {
		width: 640px;
	}
	body.sidebar-closed:after,
	body.sidebar-closed:before {
		display: none;
	}
	.sidebar-closed #page {
		width: 100%;
	}
	.sidebar-closed .content-area {
		width: 100%;
		height: auto;
		padding: 0 40px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
	}
	.content-area {
		padding-left: 0;
		width: 600px;
	}

	/* Menu */
	.sidebar-closed .main-navigation ul ul {
		width: 100%;
	}
	.main-navigation,
	.main-navigation ul ul {
		width: 100%;
	}

	/* Content */
	.entry-title:after {
		display: none;
	}
	.entry-format-badge,
	.entry-format-badge.genericon {
		display: none;
	}

	/* Comments */
	.comment-author .avatar,
	.comment-author:after {
		display: none;
	}

	/* Media */
	.jetpack-video-wrapper .video-player {
		max-width: 100%;
	}

}

/* =Print
----------------------------------------------- */

@media print {

	body {
		padding: 0;
	}
	body:after,
	body:before,
	page:before,
	#sidebar-toggle,
	#sidebar-toggle:before,
	#sidebar-toggle:after,
	#social-links,
	.video-player .play-button,
	.videopress-watermark {
		display: none;
	}
	.videopress-title,
	.slideshow-controls {
		display: none !important;
	}

}